* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Helvetica, sans-serif;
}

:root {
  --bg-color: #333333;
  --text-color: rgba(0, 0, 0, 0.767);
  --operations-color: #e4d9d957;
  --bg-numberBtn: rgba(0, 0, 0, 0.137);
  --secondBorderAndBgNumberColor: rgba(0, 0, 0, 0.537);
  font-size: 62.5%;
}

.darkMode:root {
  --bg-color: #f4f4f4;
  --operations-color: #4d4c4cb2;
}

.hide {
  display: none;
}

header {
  position: absolute;
  right: 0;
  top: 0;
}

header div {
  padding: 1.5rem;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em;

  background: var(--bg-color);
  overflow: hidden;

  font-size: 1.6rem;
}

#calculator {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 50rem;
  height: 100%;
  padding: 1em;
  border-radius: .5em;
  background: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.74) 0px 7px 29px 0px;
}

h3 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1em;
}

#operations {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: var(--operations-color);
  font-size: 1em;
  font-weight: 600;
  overflow-wrap: break-word;
  padding: .3em;
  gap: 3px;
  min-height: 4em;
  margin-bottom: 2rem;
}

#current-operation {
  font-weight: 700;
  font-size: 1.7em;
  margin-top: .5rem;
}

#button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}

#button-container button {
  border: 1px solid var(--secondBorderAndBgNumberColor);
  border-radius: 0;
  background: transparent;
  height: 4em;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.767);

  cursor: pointer;
}

#button-container .number {
  background: var(--bg-numberBtn);
}

#button-container button:hover {
  background: var(--secondBorderAndBgNumberColor);
}

.equal-btn {
  grid-column: span 2;
}

footer {
  position: absolute;
  bottom: 0;
  
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.767);

  font-weight: 500;
  font-size: 1.6em;
  display: flex;
  align-items: flex-end;
  gap: 1rem
}

svg:hover {
  animation: loading .3s normal;
}


@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
